<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/}">Home Page</a>
    <a th:href="@{/user-info}">User info</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/project-list}">Project list</a>
    <a th:href="@{/user-save}">Create user</a>
    <a th:href="@{/project-save}">Project create</a>
    <a th:href="@{/task-create}">Task create</a>
    <a th:href="@{/task-list}">Task list</a>
    <a th:href="@{/exit}">Exit</a>
</head>
<body>
<div>
    <a th:href="@{/add-user-project}">Add users</a>
</div>
<div>
    Project name:
    <p th:text="*{project.name}"></p>
</div>
    Project creator
    <p th:text="*{user.lastName + user.firstName}"></p>
</div>
<div>
    Project tasks:
    <p th:each="task : ${allTask}">
        <a th:href="@{/task-info/(id=${task.id})}" th:text="*{task.name}"></a>
    </p>
</div>
<div>
    Project Developers:
    <p>
    <ul th:each="users : ${allUsers}"
        th:text="${users.lastName}">
    </ul>
    </p>
</div>
<div>

</div>
</body>
</html>