<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/}">Home Page</a>
    <a th:href="@{/user-info}">User info</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/project-list}">Project list</a>
    <a th:href="@{/user-save}">Create user</a>
    <a th:href="@{/project-save}">Project create</a>
    <a th:href="@{/task-create}">Task create</a>
    <a th:href="@{/task-list}">Task list</a>
    <a th:href="@{/exit}">Exit</a>
</head>
<body>
<div>
<a th:href="@{/task-info/add-comment}">Add comment</a>
</div>
Task name:
<h1 th:text="${task.name}"></h1>
Project name:
<div>
<a th:href="@{/project-info/(id=${task.project.id})}" th:text="*{task.project.name}">Project list</a>
</div>
Task:
<p th:text="${task.text}"></p>
Users in this task:
<div>
<ul th:each="listUsers : ${allUsers}">
    <t th:text="${listUsers.lastName}"></t>
</ul>
</div>
Comments:
<ul th:each="listComments : ${allComments}">
    <t th:text="${listComments.user.lastName}"></t>
    <t th:text="${listComments.text}"></t>
</ul>
</body>
</html>