<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/}">Home Page</a>
    <a th:href="@{/user-info}">User info</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/project-list}">Project list</a>
    <a th:href="@{/user-save}">Create user</a>
    <a th:href="@{/project-save}">Project create</a>
    <a th:href="@{/task-create}">Task create</a>
    <a th:href="@{/task-list}">Task list</a>
    <a th:href="@{/exit}">Exit</a>
</head>
<body>
<form th:action="@{/task-create}" method="post" th:object="${taskDto}">
    <p> <label th:for="name">Enter task name</label>
        <label>
            <input type="text" th:field="*{taskName}">
        </label>
    <p> <label th:for="text">Enter task</label>
        <label>
            <input type="text" th:field="*{taskText}">
        </label>
    Projects:<select th:field="*{projectId}">
        <option th:each="projects : ${allProject}"
                th:value="${projects.id}"
                th:text="${projects.name}">
        </option>
    </select>
    Users:<select th:field="*{usersId}">
    <option th:each="users : ${allUsers}"
            th:value="${users.id}"
            th:text="${users.lastName}">
    </option>
</select>
    Status <select th:field="*{statusId}">
        <option th:each="status : ${statusList}"
                th:value="${status}"
                th:text="${status}">

        </option>
    </select>
    <button type="submit">Save task</button>
</form>
</body>
</html>