<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/}">Home Page</a>
    <a th:href="@{/user-info}">User info</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/project-list}">Project list</a>
    <a th:href="@{/user-save}">Create user</a>
    <a th:href="@{/project-save}">Project create</a>
    <a th:href="@{/task-create}">Task create</a>
    <a th:href="@{/task-list}">Task list</a>
    <a th:href="@{/exit}">Exit</a>
</head>
<body>
<form th:action="@{/user-save}" method="post" th:object="${user}">
    <p> <label th:for="firstName">EnterFirstName</label>
    <label>
        <input type="text" th:field="*{firstName}">
    </label></p>
    <p> <label th:for="lastName">EnterLastName</label>
        <label>
            <input type="text" th:field="*{lastName}">
        </label></p>
    <p> <label th:for="lastName">EnterMail</label>
        <label>
            <input type="text" th:field="*{mail}">
        </label></p>
    <p> <label th:for="password">EnterPassword</label>
        <label>
            <input type="text" th:field="*{password}">
        </label></p>
    <select th:field="*{role}">
        <option th:each="role : ${allRoles}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>
        </label></p>
    <button type="submit">Save</button>

</form>
</body>
</html>