<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/}">Home Page</a>
    <a th:href="@{/user-info}">User info</a>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/project-list}">Project list</a>
    <a th:href="@{/user-save}">Create user</a>
    <a th:href="@{/project-save}">Project create</a>
    <a th:href="@{/task-create}">Task create</a>
    <a th:href="@{/task-list}">Task list</a>
    <a th:href="@{/exit}">Exit</a>
</head>
<body>
<div>
    First name:
    <b>
        <h text="First name"></h>
    </b>
    <p th:text="*{user.firstName}">First name</p>
</div>
Last name:
<div>
    <b>
        <h text="Last name"></h>
    </b>
    <p th:text="*{user.lastName}">Last name</p>
</div>
Role:
<div>
    <b>
        <h text="You role"></h>
    </b>
    <p th:text="*{user.role}">You role</p>
</div>
Tasks:
<div>
<ul>
    <p th:each="task : ${allTask}">
        <a th:href="@{/task-info/(id=${task.id})}" th:text="*{task.name}"></a>
    </p>
</ul>
</div>
</body>
</html>